.select {  
	background-color:highlight;
	color:#0066FF;
	cursor:default;
}
.unselect {  cursor:hand;}
.menuleft { 
	cursor:default;
	behavior:url(inc/menuleft.htc);
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 12px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	line-height: 18px;
	font-family: "Arial", "ו";
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


table
{  
word-break:break-all;border-collapse: collapse;
}

.changecolor { 
	behavior:url(/oa300/inc/style.htc);
}

.title 
{ 
 	font-size: 16px;
 }

.small 
{ 
 	font-size: 10px;
 }

.tablelineleft
 {  
 	border-color: #F2F2F2 #F2F2F2 #F2F2F2 #F2F2F2 ; 
 	border-top-width: 1px; 
 	border-right-width: 1px; 
 	border-bottom-width: 1px; 
 	border-left-width: 1px;
 }
.kuang {
	border: 1px solid #999999;
}


.tablelineright
 {  
 	border-color: #F2F2F2 #F2F2F2 #F2F2F2 #F2F2F2 ; 
 	border-top-width: 1px; 
 	border-right-width: 1px; 
 	border-bottom-width: 1px; 
 	border-left-width: 0px;
 }


.input {
	font-size:10pt; 
	background-color:#FFFFFF;
	border-width:1;
	border-color:#000000;
}

.borderon {
	font-size: 12px;
	border-color: #0066FF;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: menu;
	color: #0099CC;
}


.button { 
	border:1px solid menu; 
	behavior:url(/oa300/inc/button.htc);
	cursor:default;
}


td {  
font-size: 12px
}

a {  
	color: #000000; 
	text-decoration: none;
}

a:hover {  
color: #000000; 
text-decoration: none;
}


.button2 {  
	background: menu; 
	border-bottom: #665b8e 1px solid; 
	border-left: #ffffff 1px solid; 
	border-right: #665b8e 1px solid; 
	border-top: #ffffff 1px solid; 
	color: #333333; 
	cursor: hand; 
	font-family: "ו"; 
	font-size: 12px; 
	height: 18px; 
	padding-bottom: 1px; 
	padding-left: 1px; 
	padding-right: 1px; 
	padding-top: 1px
}

.cal {
	font:12px;
	background-color:highlight;
	color:highlighttext;
	width:18px;
}

.txt {
	border-left: 1px solid #FFFFFF; 
	border-right: 1px solid #FFFFFF; 
	border-top: 1px solid #FFFFFF; 
	border-bottom:1px solid #000000; 
	font-size: 12px; 
	color: #000044;
	background:white; 
	font-weight: normal;
}


.hidden
{
    DISPLAY: none
}


.msgman {  
	border:1px solid #9999CC; 
	behavior:url(/oa300/inc/msg.htc);
	cursor:default;
}.zihui12 {
	font-size: 14px;
	line-height: 120%;
	color: #000000;
	font-weight: bold;
}
.1kuang {
	margin: 1px;
	padding: 1px;
	height: 25px;
	width: 150px;
}
