a.b14:link {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.b14:visited {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.b14:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FCC103;
	text-decoration: none;
}
a.b14:active {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
